<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/admin/noticia/salvar" method="post">
			<label for="titulo-noticia">Título</label>
			<input type="text" name="titulo-noticia" id="titulo-noticia"/>
			<label for="conteudo-noticia">Notícias</label>
			<textarea type="text" name="conteudo-noticia" id="conteudo-noticia"></textarea>
			<button type="submit">Enviar</button>
		</form>

	</body>
</html>